@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root {
    --gradient1: linear-gradient(0deg, #42ff93 0%, #1b4d9c 100%);
    --webkitgradient1: -webkit-linear-gradient(0deg, #42ff93 0%, #1b4d9c 100%);
    --glass-bg-color: rgba(255, 255, 255, 0.25);
    --glass-bg-border: 1px solid rgba(255, 255, 255, 0.125);
    --box-shadow1: 0 0px 5px 0px #a5a5a5;
    --white-text: #fff;
    --black-text: #000;
    --grey1: rgb(184, 184, 184);
}

main {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black-text);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.transiton {
    display: flex;
    transition: all .9s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3 {
    font-weight: bold;
    color: var(--white-text);
}

h4,
h5,
h6 {
    font-weight: 600;
}

body,
p,
a,
li,
span>a,
li>a {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

body a,
body button {
    text-decoration: none;
    outline: none;
}

h1 {
    font-size: 55px;
    line-height: 42px;
    margin: 0 10px;
}

h2 {
    font-size: 45px;
    line-height: 39px;
    margin: 0 10px;
}

h3 {
    font-size: 34px;
    line-height: 28px;
}

h4 {
    font-size: 20px;
    line-height: 28px;
}

h5 {
    font-size: 17px;
    line-height: 24px;
}

h6 {
    font-size: 19px;
    line-height: 22px;
}

p {
    font-size: 18px;
    line-height: 22px;
    color: var(--grey1);
}

ul li {
    list-style: none;
}

.logo h2 {
    font-family: 'Pacifico', cursive;
}

.mobile-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    height: 100vh;
    background-color: #fff;
}

.call-to-action-icon .menu-toggle .mobile-menu ul {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-menu ul li {
    margin: 20px;
}

.mobile-menu ul li a {
    font-size: 20px;
    color: #000;
}

.menu-toggle {
    display: none;
}

/*===================Buttons============================*/
.btn {
    padding: 10px 20px;
    background: none;
    font-size: 16px;
    font-family: 'Roboto Slab';
    text-transform: capitalize;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    background-color: var(--white-text);
}

.btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #42ff93;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.action-btn {
    display: flex;
    gap: 30px;
    margin: 20px 0px 0px 10px;
}

.btn:hover {
    background-color: #1b4d9c;
    color: #fff;
}

.btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btn:active {
    transform: scale(0.9);
}

/*Header*/
.header-container {
    width: 1300px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    padding: 12px 0 12px 0px;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
}

.call-to-action-icon ul li:last-child {
    position: relative;
}

.call-to-action-icon ul li svg {
    cursor: pointer;
}

.call-to-action-icon ul li span.cart-item-qty {
    position: absolute;
    color: var(--white-text);
    background: #ff0335;
    right: -9px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    top: -9px;
    text-align: center;
    font-weight: 800;
    border-radius: 440px;
}

.logo h2,
.product-detail h4 {
    color: var(--white-text);
}

nav.main-menu {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.call-to-action-icon ul,
.menu-items ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
    width: 100%;
}

.call-to-action-icon li:hover svg,
.icons a:hover svg {
    transform: scale(1.1);
    transition: all .2s ease;
}

a.active svg {
    fill: #D2042D;
    stroke: #D2042D;
    transition: all .3s;
}

.menu-items {
    width: 60%;
    display: flex;
    justify-content: center;
}

.menu-items ul li {
    width: 140px;
    text-align: center;
}

.menu-items ul li a,
span.digit {
    font-size: 18px;
    color: var(--white-text);
}

.call-to-action-icon {
    width: 20%;
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 222;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.call-to-action-icon ul li svg {
    font-size: 23px;
    background: var(--gradient1);
    padding: 8px;
    border-radius: 20px;
    color: var(--white-text);
}

.product-heading {
    text-align: center;
    padding: 10px;
    margin: 50px 0px;
}

.products-container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

.product-wrapper {
    display: grid;
    grid-gap: 0 25px;
    gap: 0 25px;
    padding: 5px 10px 5px 0px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.product-item {
    padding: 5px;
    width: 100%;
    background: var(--glass-bg-color);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border: 20px solid var(--gradient1);
    border-radius: 5px;
    box-shadow: var(--box-shadow1);
    position: relative;
}

.product-item:hover {
    transition: all .3s ease;
}

.products-container .product-wrapper .product-item {
    margin-bottom: 30px;
}

.product-cart {
    height: 300px;
}

.product-cart img {
    width: 100%;
    border-radius: 15px;
    filter: grayscale(1);
    height: 100%;
    transform: scale(.85);
    object-fit: contain;
}

.product-item:hover img {
    transform: scale(.9) !important;
    transition: .2s ease-in-out;
}

.product-item:hover .product-cart img {
    filter: grayscale(0);
}

.product-image-col img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-main-image {
    height: 100%;
}

.product-title h4 {
    color: var(--white-text);
    text-align: center;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    padding: 0 11px;
}

.product-title p {
    padding: 0 10px;
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
}

.product-title h6 {
    margin: 14px 0;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.product-item.card .discount {
    color: #fff;
    height: 50px;
    width: 50px;
    position: absolute;
    background: var(--gradient1);
    border-radius: 440px;
    right: -4px;
    z-index: 2;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.minus svg,
span.plus svg {
    color: var(--grey1);
    padding: 5px;
    cursor: pointer;

}

span.minus {
    border-right: 1px solid #fff;
    padding: 0px 5px;
}

span.plus {
    border-left: 1px solid #fff;
    padding: 0px 5px;
}

.quantity-feild {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 35px 0px 10px 10px;
}

.quantity-feild h4 {
    margin: 0;
    width: 120px;
}

.product-variant img {
    width: 65px;
    cursor: pointer;
    border-radius: 5px;
    filter: grayscale(1) blur(1px);
    border: 1px solid #ccc;
    height: 70px;
}

.product-variant {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.product-variant img:hover {
    filter: grayscale(0) blur(0px);
}

.quantity-wrapper {
    display: flex;
    align-items: center;
    width: 150px;
    border: 1px solid #fff;
    justify-content: space-between;
    border-radius: 5px;
}

.product-detail h1 {
    font-size: 40px;
    line-height: 1em;
    text-transform: capitalize;
}

.feature-prdct-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 70px;
}

.feature-prdct-container .product-cart img.prduct-image {
    object-fit: contain;
    height: 100%;
}

.feature-prdct-container .product-item .product-title {
    margin: 20px 0;
}

.feature-prdct-container .product-title h6 {
    background: var(--gradient1);
    display: table;
    margin: 0 auto;
    padding: 5px 12px;
    border-radius: 100px;
}

.product-image-col .discount {
    color: #fff;
    height: 50px;
    position: absolute;
    width: 50px;
    background: var(--gradient1);
    border-radius: 440px;
    display: flex;
    left: -20px;
    justify-content: center;
    align-items: center;
    top: -20px;
}

.feature-products {
    margin-top: 200px;
}

.feature-prdct-container .product-title p {
    display: none;
}

.feature-prdct-container {
    will-change: transform;
    animation: slides 15s ease-in infinite;
    display: flex;
    margin-top: 70px;
    margin-bottom: 60px;
    width: 370%;
    gap: 16px;
    flex-direction: row;

}

.feature-prdct-container:hover {
    animation-play-state: paused;
}

/*Thankyou pages*/
.thankyou-wrapper {
    background: var(--glass-bg-color);
    padding: 40px;
    border-radius: 20px;
    margin: 0px 20px;
}

.thankyou-heading {
    text-align: center;
}

.thankyou-heading h1 {
    font-size: 3rem;
    line-height: 2.8rem;
}

.thankyou-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 160px 0px 70px 0px;
}

.thankyou-cta {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.thankyou-cta a {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: var(--white-text);
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.thankyou-cta a:disabled {
    pointer-events: none;
}

.thankyou-cta a:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.thankyou-cta a:active {
    box-shadow: none;
    transform: translateY(0);
}

@keyframes slides {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-10%);
    }
}

.discount h5 {
    margin: 0;
}

.hero-banner-container {

    padding: 0 10px;
    background: var(--webkitgradient1);
    background: var(--gradient1);
}

.hero-wrapper {
    width: 1340px;
    margin: 0 auto;
    height: 100vh;
    padding: 80px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-col {
    max-width: 500px;
}

.image-col img {
    width: 100%;
    animation: updown 1.2s ease-in-out infinite;
}

.cta {
    border: none;
    background: var(--black-text);
    padding: 20px;
    margin-top: 10px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 12px;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta.back-btn span {
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    fill: var(--white-text);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: var(--white-text);
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white-text);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero-main p {
    font-weight: bold;
    margin: 20px 10px;
    color: var(--white-text);
    background: var(--black-text);
    display: table;
    padding: 10px 15px;
    border-radius: 39px;
    text-transform: capitalize;

}

.hero-main p.banner-description {
    background: none;
    color: var(--black-text);
    font-weight: 300;
    margin: 10px 0;
    width: 600px;

}

.prdct-detail-container {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 20px 40px 10px;
}

.prodct-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-detail {
    width: 60%;
}

.product-detail h3 {
    text-align: left;
    margin: 20px 10px;
    font-size: 28px;
}

.prdct-detail-wrapper {
    padding: 40px;
}

.product-detail p {
    margin: 20px 0px;
}

.product-image-col {
    width: 40%;
    position: relative;
    padding: 0 30px 0 0;
    height: 370px;
}

/*Footer styling*/
footer {
    background: var(--gradient1);
    padding: 10px;
}

.footer-container {
    padding: 0 20px;
}

.footer-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
}

.footer-wrapper p {
    color: var(--black-text);
    font-weight: bold;
    font-size: 14px;
}

.icons a {
    color: var(--black-text);
    font-size: 26px;
    padding: 0px 10px;
}

/*Footer Banner*/
.footer-banner-container {
    margin: 100px 0;
}

.footer-banner-wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 80px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.footer-main {
    width: 60%;
}

.footer-main h1 {
    line-height: 54px;
}

.footer-main .small-txt {
    background: var(--gradient1);
    display: table;
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
}


.footer-main .CTA-btn-wrapper button.cta {
    background: var(--gradient1);
}

.image-col h3,
.image-col p {
    text-align: center;
    color: var(--white-text);
    margin: 10px 0;
    text-transform: capitalize;
}

.cart {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    right: 0;
    top: 0;
    z-index: 11111;
}

.cart-wrapper {
    width: 40%;
    margin: 0 0 0 auto;
    background: var(--white-text);
    padding: 20px 20px;
    height: 100vh;
}

.cartheader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--grey1);
}

.cartheader button {
    cursor: pointer;
    width: 38px;
    background: transparent;
    height: 38px;
    border: none;
}

.cartheader button svg {
    stroke-width: 3px;
    font-size: 14px;
    color: var(--black-text);
}

.cartheader button svg:hover {
    color: #ff0335;
    transition: all .2s ease-in-out;
}

.cartheader h3 p.total-quantity {
    font-size: 14px;
}

.cartheader h3 {
    margin: 10px 0;
    color: var(--black-text);
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.empty-cart p {
    font-size: 14px;
    margin: 0;
    text-transform: capitalize;
}

.empty-cart svg {
    stroke: 10px;
}

.cart-product-image {
    width: 80px;
    border: 2px solid #eee;
    padding: 7px;
    border-radius: 3px;
    height: 71px;
}

.cart-product-image:hover img {
    /* padding: 0; */
    transition: all .2s ease;
    transform: scale(1.1);
}

.cart-product-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.cart-product-detail {
    width: 100%;
    padding: 0px 10px;
}

.product-cart-container {
    overflow-y: scroll;
    height: 60vh;
}

.product-cart-container .cart-product:nth-child(even) {
    background-color: rgb(227 224 224 / 20%);
}

.cart-product {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.cart-product-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-product-heading h4,
.cart-product-heading h6 {
    margin: 0px 0px 10px 0;
    text-transform: capitalize;
    font-size: 18px;
}

.cart-product-detail .quantity-feild p {
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 12px;
}

.cart-product-detail .quantity-feild {
    padding: 0 0 0 0px;
    flex-direction: column;
    align-items: flex-start;
}

.cart-product-detail .quantity-wrapper {
    border-color: var(--grey1);
    margin-top: 10px;
    width: 110px;
}

.cart-product-detail span.minus {
    border-right: 1px solid var(--grey1);
    padding: 0px 5px;
}

.cart-product-detail span.plus {
    border-left: 1px solid var(--grey1);
    padding: 0px 5px;
}

.cart-product-detail .digit {
    color: var(--grey1);
    font-size: 14px;
}

button.remove-product {
    width: 20px;
    height: 20px;
    background: #DA0000;
    /* outline: none; */
    border: none;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

button.remove-product svg {
    font-size: 8px;
    stroke-width: 3px;
    padding: 1px 0px;
}

.cart-footer .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-footer .total h5,
.cart-footer .total h6 {
    margin: 10px 0;
}

.cart-strip-btn .btn {
    width: 100%;
}

/*Product page*/
#main-product {
    padding-top: 150px;
    text-align: center;
}

.main-product-headings {
    margin-bottom: 100px;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}



/*Thankyou Card*/
.product-cart-container::-webkit-scrollbar {
    width: 10px;
}

.product-cart-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    border: var(--grey1);
    border-radius: 20px;
}

.product-cart-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: #1A1A1A;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    border: var(--grey1);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: var(--glass-bg-color);
}

/*-----------------------about us page styling----------------*/
.about-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0px;
    margin-bottom: 50px;
}

.about-inner {
    padding: 30px 0px;
}

.about-heading {
    text-align: center;
    padding: 10px;
    margin: 50px 180px;
}

.about-container {
    width: 1300px;
    margin: 0 auto;
}

.about-row-reverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0px;
    flex-direction: row-reverse;
}

.about-main {
    margin: 140px 0 90px 0;
}

.about-content-col {
    width: 50%;
    padding-right: 120px;
}

.about-image-col {
    width: 50%;
    text-align: center;
}
/*xxxxxxxxxxxxxxxxxxxxxxxx privacy page styling  xxxxxxxxxxxxxxx */
.privacy-inner {
    margin: 170px 0 150px 0;
    width: 100%;
}
.privacy-container{
    width: 1300px;
    margin: 0 auto;
}
.privacy-inner h2 {
    text-align: center;
}
.privacy-row-1 {
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}
.privacy-row-2{
    width: 100%;
    text-align: center;
}
.privacy-row-2 p {
    padding: 0px 40px;
    line-height: 39px;
}

/*xxxxxxxxxxxxxxxxxxxxxx MEDIA QUERY xxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*media Query*/

/* 1300px container media  */

@media screen and (max-width: 1300px) {

    .header-container,
    .hero-wrapper,
    .products-container,
    .footer-banner-wrapper,
    .footer-wrapper {
        width: 1140px;
        margin: 0 auto;
    }
    .privacy-container{
        width: 1140px;
        margin: 0 auto;
    }
    .about-container {
        width: 1140px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1180px) {

    .header-container,
    .hero-wrapper,
    .products-container,
    .footer-banner-wrapper,
    .footer-wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    .privacy-container{
        width: 1000px;
        margin: 0 auto;
    }

    .about-container {
        width: 1000px;
        margin: 0 auto;
    }

    .about-heading {
        margin: 50px 110px;
    }

    .about-content-col {
        padding-right: 70px;
    }

    nav.main-menu {
        width: 65%;
    }

    .call-to-action-icon {
        width: 25%;
    }

    .footer-main h1 {
        line-height: 34px;
        font-size: 34px;
    }

    .feature-prdct-container {
        width: 420%;
    }

    .prdct-detail-container {
        width: 1000px;
        margin: 0 auto;
        padding: 100px 0px 40px 0px;
    }

    .product-wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media screen and (max-width: 1020px) {

    .header-container,
    .hero-wrapper,
    .products-container,
    .footer-banner-wrapper,
    .footer-wrapper {
        width: 920px;
        margin: 0 auto;
    }
    .privacy-container{
        width: 920px;
        margin: 0 auto;
    }
    .about-container {
        width: 920px;
        margin: 0 auto;
    }

    .header-wrapper {
        justify-content: space-between;
    }

    nav.main-menu {
        width: 70%;
    }

    .call-to-action-icon {
        width: 25%;
    }

    .menu-items {
        width: 70%;
    }

    .cart-product-heading {
        align-items: flex-start;
        flex-direction: column;
    }

    .cart-product-heading h6 {
        font-size: 16px;
    }

    .feature-prdct-container {
        width: 450%;
    }
}

@media screen and (max-width: 950px) {
    .menu-toggle {
        display: block;
    }

    .header-container,
    .hero-wrapper,
    .products-container,
    .footer-banner-wrapper,
    .footer-wrapper {
        width: 810px;
        margin: 0 auto;
    }
    .privacy-container{
        width: 810px;
        margin: 0 auto;
    }

    .about-container {
        width: 810px;
        margin: 0 auto;
    }

    .about-row,
    .about-row-reverse {
        gap: 20px;
    }

    .about-heading {
        margin: 50px 80px;
    }

    .about-content-col {
        padding-right: 40px;
    }

    .about-content-col {
        padding-right: 20px;
    }

    .hero-wrapper {
        flex-direction: column;
        padding: 130px 0px 0px 0;
        height: auto;
    }

    .hero-main,
    .image-col,
    .call-to-action-icon,
    .footer-main,
    .hero-main p.banner-description,
    .footer-banner-wrapper .image-col {
        width: 100%;
    }

    .hero-wrapper .image-col {
        margin: 90px 0 0 0;
    }

    .main-menu .menu-items {
        display: none;
    }

    .logo,
    nav.main-menu {
        width: 50%;
    }

    .main-menu .call-to-action-icon ul {
        justify-content: flex-end;
        gap: 15px;
    }

    .footer-banner-wrapper {
        flex-direction: column-reverse;
        padding-top: 20px;
    }

    .prdct-detail-container {
        width: 870px;
    }

    .feature-prdct-container {
        width: 570%;
    }
}

@media screen and (max-width: 880px) {

    .header-container,
    .hero-wrapper,
    .products-container,
    .footer-banner-wrapper,
    .footer-wrapper {
        width: 720px;
        margin: 0 auto;
    }
    .privacy-container{
        width: 720px;
        margin: 0 auto;
    }
    .privacy-row-2 p {
        padding: 0px;
    }

    .about-row,
    .about-row-reverse {
        flex-direction: column;
        gap: 30px;
    }

    .about-content-col,
    .about-image-col {
        width: 100%;
    }

    .about-container {
        width: 720px;
        margin: 0 auto;
    }

    .about-heading {
        margin: 50px 70px;
    }

    .thankyou-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 120px 0 20px 0px;
    }

    /* .product-variant img {
    width: 80px;
} */
    .product-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

@media screen and (max-width: 780px) {

    .header-container,
    .hero-wrapper,
    .products-container,
    .footer-banner-wrapper,
    .footer-wrapper {
        width: 580px;
        margin: 0 auto;
    }
    .privacy-container{
        width: 580px;
        margin: 0 auto;
    }

    .about-container {
        width: 580px;
        margin: 0 auto;
    }

    .about-heading {
        margin: 50px 40px;
    }

    .feature-products h2 {
        text-align: center;
    }

    .cart-wrapper {
        width: 99%;
        margin: 0px auto;
        padding: 20px 5px;
    }

    .footer-wrapper {
        width: 100%;
    }

    .cart-footer .total h6 {
        margin: 10px 5px;
    }

    .cart-strip-btn .btn {
        width: 96%;
    }

    .cart-strip-btn {
        text-align: center;
    }

    .feature-prdct-container {
        width: 690%;
    }

    .prodct-content {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .product-image-col {
        width: 100%;
        padding: 0px;
        height: 100%;
    }

    .product-main-image {
        width: 340px;
        height: 100%;
        margin: 0 auto;
    }

    .product-detail {
        width: 100%;
        padding-top: 70px;
    }

    .quantity-feild {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 35px 0px 10px 0px;
        gap: 10px;
    }

    .product-variant {
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
    }

    .product-variant img {
        width: 60px;
        height: 70px;
    }

    .product-detail h3 {
        text-align: center;
        padding: 10px 0px;
    }

    .action-btn {
        justify-content: center;
        margin: 20px 0 0 0;
    }

    .prdct-detail-container {
        width: 100%;
    }

    .feature-products {
        margin-top: 50px;
    }

    .thankyou-heading h1 {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }

    .thankyou-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 160px 0 70px 0px;
    }

    .thankyou-heading svg {
        position: absolute;
        width: 67px;
        height: 68px;
        top: 127px;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media screen and (max-width: 640px) {

    .header-container,
    .hero-wrapper,
    .products-container,
    .footer-banner-wrapper,
    .footer-wrapper {
        width: 500px;
        margin: 0 auto;
    }

    .privacy-container{
        width: 500px;
        margin: 0 auto;
    }
    .about-container {
        width: 500px;
        margin: 0 auto;
    }

    .about-content-col {
        padding-right: 0px;
        text-align: center;
    }

    .about-heading {
        margin: 50px 10px;
    }

    .call-to-action-icon ul li span.cart-item-qty {
        right: -7px;
        width: 14px;
        height: 16px;
        font-size: 10px;
        top: -4px;
    }

    .logo h2 {
        font-size: 35px;
    }

    .main-menu .call-to-action-icon ul {
        gap: 5px;
    }

    .call-to-action-icon ul li svg {
        font-size: 16px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    .products-container .product-wrapper .product-item {
        width: 100%;
    }

    .footer-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .feature-prdct-container {
        width: 910%;
    }

    .product-wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .thankyou-cta a {
        width: 50%;
        font-size: 11px;
        margin: 0 35px 0 35px;
        padding: 14px 9px;
    }

    .thankyou-heading h1 {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .thankyou-container {
        height: 100%;
        margin: 170px 0 70px 0;
    }

}

@media screen and (max-width:540px) {

    .header-container,
    .hero-wrapper,
    .products-container,
    .footer-banner-wrapper,
    .footer-wrapper {
        width: 450px;
        margin: 0 auto;
    }
    .privacy-container{
        width: 450px;
        margin: 0 auto;
    }
    .privacy-row-2 p {
        line-height: 30px;
        font-size: 14px;
    }
    .about-heading {
        margin: 50px 0px;
    }

    .about-content-col h3 {
        font-size: 29px;
        line-height: 28px;
    }

    .about-container {
        width: 450px;
        margin: 0 auto;
    }

    .thankyou-cta {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        align-items: center;
        gap: 30px;
    }

    .thankyou-heading p {
        font-size: 13px;
    }

    .thankyou-cta a {
        width: 120px;
        font-size: 10px;
        margin: 0px;
        padding: 14px 9px;
    }
}

@media screen and (max-width:500px) {

    .header-container,
    .hero-wrapper,
    .products-container,
    .footer-banner-wrapper,
    .footer-wrapper {
        width: 400px;
        margin: 0 auto;
    }
    .privacy-container{
        width: 400px;
        margin: 0 auto;
    }
    .about-container {
        width: 400px;
        margin: 0 auto;
    }

    .logo h2 {
        font-size: 32px;
    }

    .product-main-image {
        width: 200px;
        height: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width:450px) {

    .header-container,
    .hero-wrapper,
    .products-container,
    .footer-banner-wrapper,
    .footer-wrapper {
        width: 320px;
        margin: 0 auto;
    }
    .privacy-container{
        width: 320px;
        margin: 0 auto;
    }
    .about-image-col img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .about-content-col p {
        font-size: 14px;
    }

    .about-heading {
        margin: 25px 0px;
    }

    .about-container {
        width: 320px;
        margin: 0 auto;
    }

    .logo h2 {
        font-size: 25px;
    }

    .hero-main p {
        padding: 10px 0px;
    }

    .footer-wrapper {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .cart-product-heading {
        align-items: center;
        flex-direction: column;
    }

    .cart-product-detail {
        flex-direction: column;
        display: flex;
    }

    .cart-product {
        flex-direction: column;
        align-items: center;
    }

    .cart-product-detail .quantity-feild {
        align-items: center;
    }

    .cart-product-image {
        width: 90px;
        height: 100px;
        margin-bottom: 20px;
    }

    button.remove-product {
        top: 14px;
        right: 13px;
    }

    .hero-main p {
        padding: 7px 7px;
        font-size: 12px;
    }

    .footer-main h1 {
        font-size: 26px;
    }

    .product-detail h1 {
        font-size: 30px;
    }

    .thankyou-heading h1 {
        font-size: 1rem;
        line-height: 2rem;
    }
    .privacy-row-1 img {
        width: 100%;
        padding: 40px 0px;
        margin: 0 auto;
        height: 100%;
    }
}